@charset "UTF-8";
/*------------------СБОРЩИК-------------------*/
/*Глобальные переменные, миксины и т.п.*/
:root {
  --color-headlines: #212121;
  --color-headlines-second: #ffffff;
  --color-text: #757575;
  --color-decor: #2196f3;
  --color-decor-second: #188ce8;
  --bg-main: #ffffff;
  --bg-footer: #2f303a;
  --bg-section-decor: #f5f4fa;
  --bg-icon: #afb1b8;
  --font-main: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Сброс стилей*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headlines);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--bg-main);
}

/*Общие классы*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  overflow: auto;
  background-color: var(--bg-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(0);
  transition: transform 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: scale(0.5) translate(1000px);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms var(--timing-function);
  cursor: pointer;
}

.modal-button:hover, .modal-button:focus {
  transform: rotate(90deg);
}

.modal-button-icon {
  fill: #000000;
  transition: fill 250ms var(--timing-function);
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--color-decor);
}

.modal-title {
  padding-bottom: 12px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-headlines);
}

.modal-form-part {
  font-family: var(--font-main);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: var(--font-main);
  font-size: 16px;
  color: #000000;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-field:focus {
  outline: none;
  border-color: var(--color-decor);
}

.modal-user-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.modal-form-field:focus + .modal-user-icon {
  fill: var(--color-decor);
}

.modal-form-text {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  overflow: auto;
}

.modal-form-text::placeholder {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.check-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 12px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #000000;
  box-shadow: #ffffff 0 2px 5px 1px, #75757569 0 5px 3px 0px;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.modal-check-icon {
  fill: var(--bg-main);
}

.modal-check:checked + .check-wrap {
  border: none;
  box-shadow: none;
  background-color: var(--color-decor);
}

.modal-link-agree {
  position: relative;
  color: var(--color-decor);
  outline: none;
  line-height: 100%;
}

.modal-link-agree::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-decor);
  transform: scaleX(1);
  transition: transform 250ms var(--timing-function);
}

.modal-link-agree:hover::after, .modal-link-agree:focus::after {
  transform: scaleX(0);
}

.modal-form-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-main);
  background: var(--color-decor);
  transition: background-color 250ms var(--timing-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: var(--color-decor-second);
  outline: none;
}

/*Макет*/
.header {
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__nav {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-transform: capitalize;
  color: var(--color-headlines);
  transition: color 250ms var(--timing-function);
}

.header__nav-link:hover, .header__nav-link:focus {
  color: var(--color-decor);
}

.curent {
  color: var(--color-decor);
  position: relative;
}

.curent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-decor);
}

.logo {
  margin-right: 90px;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__colored-part {
  color: var(--color-decor);
}

.logo--light {
  color: var(--color-headlines-second);
}

.title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
}

.contacts-list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  transition: color 250ms var(--timing-function);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--color-decor);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--color-headlines);
  background-color: var(--bg-section-decor);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button:hover, .button:focus {
  color: var(--color-headlines-second);
  background-color: var(--color-decor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;
  text-align: center;
  background-color: var(--bg-footer);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title--light {
  color: var(--color-headlines-second);
}

.title__hero {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.button__hero {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-headlines-second);
  background-color: var(--color-decor);
  transition: background-color 250ms var(--timing-function), filter 250ms var(--timing-function);
}

.button__hero:hover, .button__hero:focus {
  background-color: var(--color-decor-second);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.special-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.special-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin: 15px;
}

.specials-icon {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.special-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services.section {
  padding-top: 0;
}

.services-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.services-item {
  position: relative;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;
}

.services-img {
  display: block;
}

.services-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-main);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bg-section-decor);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-card {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin: 15px;
  background-color: var(--bg-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-board {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-img {
  display: block;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-icons {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.team-item {
  margin: 0 5px;
  height: 44px;
  width: 44px;
}

.team-icons-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--bg-icon);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.team-icons-link:hover, .team-icons-link:focus {
  background-color: var(--color-decor);
  color: var(--bg-main);
}

.team-svg {
  display: flex;
  fill: currentColor;
}

.clients-title {
  margin-bottom: 50px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-headlines);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -15px;
}

.client-item {
  flex-basis: calc((100% - 6 * 32px) / 6);
  margin: 0 15px 15px;
}

.client-link {
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: center;
  color: var(--bg-icon);
  border: 1px solid var(--bg-icon);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.client-link:hover, .client-link:focus {
  color: var(--color-decor);
  border-color: var(--color-decor);
}

.client-svg {
  fill: currentColor;
}

.footer {
  background-color: var(--bg-footer);
}

.footer .logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
}

.footer-content-address {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 70px;
}

.footer-content-socials {
  margin-top: 72px;
  margin-bottom: 100px;
  margin-right: 93px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-map-link {
  display: block;
  margin-bottom: 9px;
  color: var(--color-headlines-second);
  transition: color 250ms var(--timing-function);
}

.address-map-link:hover, .address-map-link:focus {
  color: var(--color-decor);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.address-link:hover, .address-link:focus {
  color: var(--color-decor);
}

.footer-title {
  margin-bottom: 20px;
}

.footer-title > strong {
  margin-bottom: 20px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-headlines-second);
}

.footer-socials-list {
  display: flex;
  margin: 0 -5px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin: 0 5px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--bg-main);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--color-decor);
}

.footer-social-svg {
  fill: currentColor;
}

.footer-form-wrap {
  margin-top: 72px;
  width: 100%;
}

.footer-form {
  display: flex;
}

.footer-form-email {
  display: block;
  padding: 15px;
  margin-right: 12px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms var(--timing-function);
  color: var(--bg-main);
}

.footer-form-email::placeholder {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-email:focus {
  outline: none;
  border-color: var(--color-decor);
}

.footer-form-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  text-align: left;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--color-decor);
  transition: background-color 250ms var(--timing-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  outline: none;
}

.footer-form-button:hover, .footer-form-button:focus {
  background-color: var(--color-decor-second);
}

.footer-form-buuton-icon {
  margin-left: 10px;
  fill: var(--bg-main);
}
/*# sourceMappingURL=main.css.map */