/*------------------СБОРЩИК-------------------*/
/*Глобальные переменные, миксины и т.п.*/
@import "./utils/variables";
@import "./utils/hidden";

/*Сброс стилей*/
@import "./base/reset";

/*Общие классы*/
@import "./components/container";
@import "./components/section";
@import "./components/_button";
@import "./components/modal";

/*Макет*/
@import "./layout/header";
@import "./layout/logo";
@import "./layout/hero";
@import "./layout/specials";
@import "./layout/services";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
