.footer {
  background-color: var(--bg-footer);
  & .logo {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.footer-content {
  display: flex;
}
.footer-content-address {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 70px;
}
.footer-content-socials {
  margin-top: 72px;
  margin-bottom: 100px;
  margin-right: 93px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-map-link {
  display: block;
  margin-bottom: 9px;
  color: var(--color-headlines-second);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-decor);
  }
}
.address-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-decor);
  }
}
.footer-title {
  margin-bottom: 20px;
  & > strong {
    margin-bottom: 20px;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-headlines-second);
  }
}

.footer-socials-list {
  display: flex;
  margin: 0 -5px;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  margin: 0 5px;
}
.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--bg-main);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--color-decor);
  }
}
.footer-social-svg {
  fill: currentColor;
}
.footer-form-wrap {
  margin-top: 72px;
  width: 100%;
}
.footer-form {
  display: flex;
}
.footer-form-email {
  display: block;
  padding: 15px;
  margin-right: 12px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms var(--timing-function);
  color: var(--bg-main);
  &::placeholder {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    outline: none;
    border-color: var(--color-decor);
  }
}
.footer-form-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  text-align: left;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--color-decor);
  transition: background-color 250ms var(--timing-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  outline: none;
  &:hover,
  &:focus {
    background-color: var(--color-decor-second);
  }
}
.footer-form-buuton-icon {
  margin-left: 10px;
  fill: var(--bg-main);
}
