.header {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav,
.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-transform: capitalize;
  color: var(--color-headlines);
  transition: color 250ms var(--timing-function);
}
.contacts-list {
  display: flex;
}
.contact-item:not(:last-child) {
  margin-right: 30px;
}
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  transition: color 250ms var(--timing-function);
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-decor);
}
.nav-link.curent {
  color: var(--color-decor);
  position: relative;
}
.nav-link.curent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-decor);
}
