.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;
  text-align: center;
  background-color: var(--bg-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title--light {
  color: var(--color-headlines-second);
}
.title__hero {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.button__hero {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-headlines-second);
  background-color: var(--color-decor);
  transition: background-color 250ms var(--timing-function),
    filter 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--color-decor-second);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
