.special-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.special-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin: 15px;
}
.specials-icon {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
.special-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.special-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
