.special-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.special-wrap {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin: 15px;
}
.special-wrap__icon {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
.special-wrap__title {
  margin-bottom: 10px;
  @include font($fs: 14px, $lh: 1.14, $ls: 0.03em, $fw: 700);
  text-transform: uppercase;
}
.special-wrap__text {
  @include font($fs: 14px, $lh: 1.71, $ls: 0.03em);
}
